<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weird Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weird Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="background-color: lightseagreen;" >
      <svg  #Canvas width="100vw" height="100vh" 
         version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" [attr.data-goal]="0">
         <rect x="40%" y="90%" [attr.data-goal]="1" width="20%" height="20%" fill="white" stroke="black" />
        <circle [attr.cy]="circle.y" [attr.cx]="circle.x"
         [attr.fill]="circle.fill" stroke="black"  r="22" (click)="presentModal($event,circle)" />
      </svg>
  </div>
</ion-content>
